{% load static %} 

<div class="form-group">
    <label for="password" style="font-size:20px;color:#1D5D9B;font-weight: bold;">Password - </label>
    <br>
    <br>
    <!-- outer loop, iterating over the p_images 2D list -->
    {% for row in p_images %}
    <div class="row no-gutters"> <!--removes the gutters (spacing between columns) -->
        {% for col in row %} <!-- inner loop, iterating over each column in the current row of p_images -->
        <div class="col-2 no-gutters">
           <!-- get images for password -->
            <img src='{% static 'images/pwd/' %}{{ col }}.png' alt=" img" style="
                height: 45px; width: 45px;" id="{{ forloop.parentloop.counter0  }}{{ forloop.counter0  }}" 
                onclick="onSelect({{forloop.parentloop.counter0}}, {{forloop.counter0}})"> <!-- These variables give the current index of the inner loop and outer loop -->
        </div> <!-- onclick attribute is calling a JavaScript function named onSelect and passing the current row and column indices -->
        {% endfor %}
    </div>
    <div style="padding-bottom: 15px;"></div>
    {% endfor %}
</div>