

{% extends 'main.html' %}
{% load static %}
{% block content %}


{% if page == 'register' %}

 <div class="auth" style="background-color:#7D7C7C;">
      <div class="card">
        <div class="auth__header text-center">
          
          <br><br><br><br><br><br><br><br><br><br>
         
          <h3 style="font-size:40px;color:#445069;margin-left:20px;font-weight: bold;" >Register an Account </h3>
          <p>Create a new developer account</p>
        </div>

        <form method="POST" action="{% url 'register' %}" class="form auth__form" style="padding-top:0px;">
           {% csrf_token %}
            
           {% for field in form %}

           <div class="form__field" style="font-size:10px;">
              <label for="formInput#text">{{field.label}} </label>
              {{field}}
 
              {% if field.help_text %}
              <small>{{field.help_text}}</small>
              {% endif %}

              {% for error in field.errors %}
              <p style = "color: red;"> {{ error}} </p>
              {% endfor %}

            </div>

           {% endfor %}
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Already have an Account?</p>
          <a href="{% url 'login' %}">Log In</a>
        </div>
         <div class="auth__alternative" style="color:red;">
          <p>Set up graphical password</p>
          <a href={% url 'reg_gp' %}>Graphical Password</a>

       </div>
      </div>
    </div> 
{% else %}
<div class="auth" style =" background-color:#7D7C7C;">
      <div class="card">
        <div class="auth__header text-center" style="margin-top:0px;">
         <script src="https://unpkg.com/detect-autofill/dist/detect-autofill.js"></script>
          <h3 style="font-size:50px;color:#445069;margin-left:20px; font-weight: bold;">Account Login</h3>
          <p>Hello Developer, Welcome Back!</p>
        </div>

        <form action = "{% url 'login' %}" method ="POST" class="form auth__form">
          {% csrf_token %}
          <!-- Input:username -->


          <div  class="form__field">
            <label for="formInput#text">Username: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="username"
              placeholder="Enter your username"
            />
          </div>

          <!-- Input:Password -->
          <div class="form__field">
            <label for="formInput#password">Password: </label>
            <input
              class="input input--password"
              id="formInput#passowrd"
              type="password"
              name="password"
              placeholder="••••••••"
            
   
            />
            
          </div>
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
            <a href="{% url 'reset_password' %}">Forget Password?</a>
          </div>
        </form>
        <div class="auth__alternative">
          <p>Don't have an Account?</p>
          <a href={% url 'register' %}>Sign Up</a>

          <script>
           document.addEventListener('onautocomplete', function (e) {
        console.log('autocomplete');
        window.location.href = '{% url "login_gp" %}';   
      })
   
          </script>
        </div>
      </div>
    </div>
  

<script>
// Handler for -webkit based browser that listens for a custom animation created using the :pseudo-selector in the stylesheet.
// Works with Chrome, Safari
function onAnimationStart(event) {
  if (event.animationName === 'onautofillstart') {
    autocomplete(event.target);
  } else {
    cancelAutocomplete(event.target);
  }
}

// Handler for non-webkit based browsers that listens for the input event to trigger the autocomplete-cancel process.
// Works with Firefox, Edge, IE11
function onInput(event) {
  if (event.inputType === 'insertReplacementText' || !('data' in event)) {
    autocomplete(event.target);
  } else {
    cancelAutocomplete(event.target);
  }
}

// Manage an input element when its value is autocompleted by the browser
function autocomplete(element) {
  if (element.hasAttribute('autocompleted')) return;
  element.setAttribute('autocompleted', '');

  var event = new CustomEvent('onautocomplete', {
    bubbles: true,
    cancelable: true,
    detail: null,
  });

  // No autofill if preventDefault is called
  if (!element.dispatchEvent(event)) {
    element.value = '';
  }
}

// Manage an input element when its autocompleted value is removed by the browser
function cancelAutocomplete(element) {
  if (!element.hasAttribute('autocompleted')) return;
  element.removeAttribute('autocompleted');

  // Dispatch event
  element.dispatchEvent(new CustomEvent('onautocomplete', {
    bubbles: true,
    cancelable: false,
    detail: null,
  }));
}

// Add event listeners
document.addEventListener('animationstart', onAnimationStart, true);
document.addEventListener('input', onInput, true);


</script>
  

{% endif %}

{% endblock content %}
